.answer {
  color: #61dafb;
  font-size: 48px;
  line-height: 1.2;
  height: calc(1.2em * 2);
  margin: 0 32px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 200ms,
    transform 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.answer.show {
  opacity: 1;
  transform: scale(1);
}
